#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ant-table-tbody > tr.zebra-row:nth-child(even) > td {
  background-color: #fafafa; /* Warna abu-abu terang */
}

/* Opsional: Efek hover agar tetap terlihat jelas */
.ant-table-tbody > tr:hover > td {
  background-color: #e6f7ff !important; /* Warna biru muda saat hover, !important mungkin diperlukan */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}/* Styling Khusus Mode Print */
@media print {
  /* Reset margin default browser agar kita bisa kontrol penuh */
  @page {
    margin: 0;
    size: auto; 
  }

  body * {
    visibility: hidden; /* Sembunyikan elemen lain (navbar, sidebar, dll) */
  }

  /* Tampilkan hanya container print */
  .print-container, .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    /* --- INI MAGIC-NYA UNTUK CENTER --- */
    display: flex;
    justify-content: center; /* Membuat isi container berada di tengah horizontal */
    padding-top: 20px; /* Jarak dari atas kertas (opsional) */
  }

  .struk-content {
    /* Pastikan text di dalam tetap rata kiri sesuai format string kamu */
    text-align: left; 
    
    /* Font wajib Monospace agar spasi hitunganmu presisi */
    font-family: 'Courier New', Courier, monospace; 
    
    /* Ukuran font harus pas. 
       Untuk lebar 96 char, biasanya font 10px - 12px.
       Jika terlalu besar, text akan turun ke bawah (wrapping) */
    font-size: 10pt; 
    
    /* Menjaga spasi tetap dirender */
    white-space: pre; 
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* src/App.css */
.container {
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

/* Styling saat elemen mendapat FOKUS */
.focusable:focus {
  outline: 3px solid #646cff; /* Warna highlight */
  background-color: #e0e7ff;
  transform: scale(1.05);
}
