:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}/* Styling Khusus Mode Print */
@media print {
  /* Reset margin default browser agar kita bisa kontrol penuh */
  @page {
    margin: 0;
    size: auto; 
  }

  body * {
    visibility: hidden; /* Sembunyikan elemen lain (navbar, sidebar, dll) */
  }

  /* Tampilkan hanya container print */
  .print-container, .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    /* --- INI MAGIC-NYA UNTUK CENTER --- */
    display: flex;
    justify-content: center; /* Membuat isi container berada di tengah horizontal */
    padding-top: 20px; /* Jarak dari atas kertas (opsional) */
  }

  .struk-content {
    /* Pastikan text di dalam tetap rata kiri sesuai format string kamu */
    text-align: left; 
    
    /* Font wajib Monospace agar spasi hitunganmu presisi */
    font-family: 'Consolas', Courier, monospace; 
    
    /* Ukuran font harus pas. 
       Untuk lebar 96 char, biasanya font 10px - 12px.
       Jika terlalu besar, text akan turun ke bawah (wrapping) */
    font-size: 10pt; 
    
    /* Menjaga spasi tetap dirender */
    white-space: pre; 
  }
}
.ant-table-tbody > tr.zebra-row:nth-child(even) > td {
  background-color: #fafafa; /* Warna abu-abu terang */
}

/* Opsional: Efek hover agar tetap terlihat jelas */
.ant-table-tbody > tr:hover > td {
  background-color: #e6f7ff !important; /* Warna biru muda saat hover, !important mungkin diperlukan */
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
 margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
